{% extends "base.html" %}

{% block content %}
    <h1>{{ author.fullname }}</h1>
    <p>Born: {{ author.born_date }} in {{ author.born_location }}</p>
    <p>Description: {{ author.description }}</p>

    <h2>Quotes</h2>
        {% for quote in quotes_by_author %}
            <article>{{ quote.quote }}<br>
            {% load functions %}
            {% for tag in quote.tags|split_str:", " %}
                <a href="#">{{ tag }}</a>
            {% endfor %}
            </article>
        {% endfor %}
{% endblock %}

