<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Note information</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
            <li><a href="/" role="button"> Go back to the main page </a></li>
        </ul>
        {% if user.is_authenticated %}
        <ul>
            <li><a href="/author/" role="button"> Add author </a></li>
        </ul>
        <ul>
            <li><a href="/quote/" role="button"> Add quote </a></li>
        </ul>
        <ul>
            <li><a href="/logout/" role="button"> Logout </a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="/login/" role="button"> Login </a></li>
        </ul>
        <ul>
            <li><a href="/register/" role="button"> Register </a></li>
        </ul>
        {% endif %}
    </nav>
    {% block content %}
        {% for quote in quotes %}
        <div class="quote-block">
            <article>
                <a href="{% url 'quotes_app:author_detail' quote.author %}">{{ quote.author }}</a>
                {% with tags=quote.tags %}
                <p>{{ quote.quote }}</p>
                    {% load functions %}
                    {% for tag in tags|split_str:", " %}
                    <a href="#">{{ tag }}</a>
                    {% endfor %}
                {% endwith %}
            </article>
        </div>
        {% endfor %}
    {% endblock %}
</main>
</body>
</html>
